<%- include("includes/header") %>

<link rel="stylesheet" href="/css/notes.css" />

<%- include("includes/nav") %>

<div class="notes-container">
  <% if (notes.length === 0) { %>
    <p>No notes found.</p>
  <% } else { %>
    <% notes.forEach((note) => { %>
      <div class="note">
        <h3><%= note.title %></h3>
        <p><%= note.content %></p>
        <div class="note-buttons">
          <button class="update-btn" >Update</button>
          <button class="delete-btn"">Delete</button>
        </div>
      </div>
    <% }) %>
  <% } %>
</div>

<%- include("includes/footer") %>
